/* body{
    background-image: url(../img/space-background.png);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin:0;
    display:flex; 
    flex-direction:column; 
} */

#main-title{
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: 'Arvo', serif;
    /* font-family: 'Courier New', Courier, monospace; */
    margin: 0;
}

#title-desc{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}