#main-title{
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: 'Arvo', serif;
    margin: 0;
}
#title-desc{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.info-block{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.644);
    width: 80%;
    border-radius: 1.2em;
}
.content{
    padding: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.block-title{
    margin-bottom: 1em;
}
.block-text{

}