/* Nav bar */
.logo{
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 6em;
}
ul li{
    display: inline-block;
    width: 12em;
}
.topnav{
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
    font-family: 'Courier New', Courier, monospace;
}
.centerNav{
    overflow: hidden;
}
.rightNav{
    float: right;
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
